:root
{--main-text-color: #757575;
--accent-color: #2196F3;
--title-color: #212121;
--bcg-color: #FFFFFF;
--let-spc: 0.03em;
}

body {
    color: var(--main-text-color);
    background-color: var(--bcg-color);
    font-family: 'Roboto', sans-serif, 'Raleway';
}
section {
    width: 1600px;
    margin: 0 auto;
}
h1, h2, h3, p {
    margin: 0;
}
ul {
    padding: 0;
}

.item {
    list-style: none;
}
/* Логотип*/
.logo {
    text-decoration: none;
    color: var(--accent-color);
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-align: left;
    letter-spacing: var(--let-spc);
    width: 145px;
}
.logo-nav-word {
    color: #000000;
}
.logo-word {
    color: var(--bcg-color);
}
.logo:hover, 
.logo:focus {
    text-decoration: underline;
}

/* Хедер*/
.link-navigation {
    text-decoration: none;
    color: var(--title-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
    letter-spacing: 0.02em;
}
.link-navigation:hover,
.link-navigation:focus {
    color: var(--accent-color);
}    
.link-contacts {
    color: var(--main-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
    letter-spacing: 0.02em;
}
.link-contacts:hover,
.link-contacts:focus {
    color: var(--accent-color);
}

/*Секція Герой*/
.hero {
    outline: 2px solid tomato;

    background-color: #2F303A;
    color: var(--bcg-color);
    text-align: center;
    padding: 200px 452px;

}

.title-hero {
    outline: 2px solid tomato;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    width: 696px;
    margin-bottom: 30px;
}

.btn-hero {
    color: var(--bcg-color);
    background-color: var(--accent-color);
    font-family: inherit;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    min-width: 200px;
    padding: 10px 32px;
    border-radius: 4px;
    border: 1px solid #000000;
}

/* Секція Переваги */
.benefits {
    outline: 2px solid red;

    padding: 94px 215px;
}
.section-title {
    visibility: hidden;
}
.title-benefits {
    outline: 2px solid red;

    color: var(--title-color);
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
    letter-spacing: var(--let-spc);
    width: 270px;
    margin-bottom: 10px;
}
.text-benefits{
    outline: 2px solid red;

    font-size: 14px;
    line-height: 1.71;
    text-align: left;
    letter-spacing: var(--let-spc);
    width: 270px;
}

/* Секція робіт і секція команда */

.work {
    outline: 2px solid red;
    padding-top: 0;
    padding-right: 215px;
    padding-bottom: 94px;
    padding-left: 215px;
}

.team {
    outline: 2px solid red;

    background-color: #F5F4FA;
    padding: 94px 215px;
}

.title-work,
.title-our-team {
    color: var(--title-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    letter-spacing: var(--let-spc);
    margin: 0 auto;
    margin-bottom: 50px;
}

.title-work {
    outline: 2px solid red;

    min-width: 376px;

}

.title-our-team {
    outline: 2px solid red;

    min-width: 264px;

}
.our-team {
    outline: 2px solid red;

    padding-bottom: 30px;
    border: 1px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.photo-team {
    margin-bottom: 30px;
}

.team-title {
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: var(--let-spc);
    margin: 0 auto;
    margin-bottom: 10px;
}
.position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: var(--let-spc);
}
.our-team {
    background-color: var(--bcg-color);
}
/* Футер */
footer {
    background-color: #2F303A;
}
.location {
    color: var(--bcg-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-align: left;
    letter-spacing: var(--let-spc);
}
.footer-address > .link-contacts {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-align: left;
    letter-spacing: var(--let-spc);
}
/* СТОРІНКА ПОРТФОЛІО 
Фільтр Галереї - кнопки*/
.current {
    color: var(--accent-color);
}

.btn-filter {
    color: var(--title-color);
    background-color: #F5F4FA;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: var(--let-spc);
}
.btn-filter:hover,
.btn-filter:focus {
    color: var(--bcg-color);
    background-color: var(--accent-color);
}
.btn-active {
    color: var(--bcg-color);
    background-color: var(--accent-color);
}
/* Карточки робіт Портфоліо */
.title-portfolio {
    visibility: hidden;
}
.link {
    text-decoration: none;
}
.title-project {
    color: var(--title-color);
    font-size: 18px;
    line-height: 2;
    text-align: left;
    letter-spacing: 0.06em;
}
.title-project:hover,
.title-project:focus {
    color: var(--accent-color);
}
.work-card {
    color: var(--main-text-color);
    font-size: 16px;
    line-height: 1.88;
    text-align: left;
    letter-spacing: var(--let-spc);
}